:root {
    --spacing-0: 0px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1300: 104px;
    --spacing-2000: 160px;
    --grey-900: #48556A;
    --grey-500: #6E8098;
    --grey-400: #9DAEC2;
    --grey-200: #ECF2F8;
}

body {
    background-color: var(--grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 var(--spacing-300);
    font-family: "Manrope", sans-serif;
}

#card-container {
    box-sizing: border-box;
    max-width: 730px;
    min-height: 280px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 50%);
}

#card-img {
    max-width: 285px;
    width: 40%;
    object-fit: cover;
    object-position: left center;
}

#card-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: var(--spacing-400) var(--spacing-500);
}

#card-content p {
    margin: 0;
}

#title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: var(--grey-900);
}

#description {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    color: var(--grey-500);
}

#card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card-author {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}

#author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#author-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    color: var(--grey-900);
}

#publish-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    color: var(--grey-400);
}

#share-btn {
    background-color: var(--grey-200);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    #card-container {
        max-width: 608px;
        min-height: 346px;
    }

    #card-img {
        max-width: 229px;
        object-position: center;
    }

    #card-content {
        padding: var(--spacing-500) var(--spacing-400);
    }
}

@media screen and (max-width: 375px) {
    #card-container {
        min-height: 538px;
        flex-direction: column;
    }

    #card-img {
        max-width: 100%;
        width: 100%;
    }

    #card-content {
        padding: var(--spacing-400) var(--spacing-400) var(--spacing-200) var(--spacing-400);
    }

    #card-footer {
        margin-top: var(--spacing-300);
    }
}